
.label_content input:checked + label {
  display: none;
}

a {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: blueviolet;
  color: aliceblue;
  padding: 5px;
  text-decoration-line: none;
  font-size: 23px;
  z-index: 0;
}

a:hover {
  cursor: pointer;
  background: red;
  transition: 0.3s;
}
