input {
  display: none;
}

.text1 p {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 500px;
  font-size: 120px;
  background: black;
  color: white;
  padding: 50px;
  text-align: center;
  z-index: 0;
}


.text2 .label_content {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: blueviolet;
  color: aliceblue;
  padding: 5px;
  font-size: 23px;
  z-index: 0;
}

.label_content:hover, label:hover {
  cursor: pointer;
  background: red;
  transition: 0.3s;
}
